html, body {
    /*background-color: #E5E9EC;*/
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0 0 20px;
    user-select: none;
}

a{
    text-decoration: none;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 25vh auto auto auto;
    font-size: 50pt;
    color: #30A8CB;
}

h2{
    text-align: center;
    color: #406A7C;
}

nav {
    display: flex;
    background-color: #406A7C;
    height: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

button, input {
    padding: 16px;
    height: 50px;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: #406A7C;
    color: white;
    display: inline-block;
    transition: .2s cubic-bezier(0.2, 0.8, 0.25, 1);
}

button:hover {
    background-color: #518094;
}

form {
    display: inline-table;
}

table{
    margin: 1rem auto 1rem auto;
    border-collapse: collapse;
    text-transform: capitalize;
    border: 1px #ccc solid;
    overflow: hidden;
}

td{
    border: 1px #ccc solid;
    padding: 8px;
    text-align: center;
    width: 110px;
}

th {
    width: 150px;
    padding: 8px;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #406A7C;
    color: white;
}

tr {
    transition: .2s cubic-bezier(0.2, 0.8, 0.25, 1);
}

tr:nth-child(even) {
    background-color: #ECEFF2;
}

.osztaly {
    text-transform: uppercase !important;
}

.classTable tr:hover {
    background-color: #A5D6A7;
}

tr td:first-child {
    text-align: left;
}

td span {
    float: right;
}

footer {
    line-height: 25px;
    height: 25px;
    bottom: 0;
    padding-left: 1rem;
    background-color: #406A7C;
    color: white;
    text-align: left;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
    position:fixed;
    width: 100%;
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    background-color: #2b812f;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    opacity: 0;
    animation: showAndHide 5s ease forwards;
}

.popup.error {
    background-color: #dc3545;
}

.querymenu {
    display: flex;
    width: 500px;
    justify-content: center;
    margin-left: calc(50vw - 250px);
}

.queryButton {
    display: flex;
    width: 400px;
    justify-content: center;
    margin-left: calc(50vw - 200px);
}

.queryButton > a:last-child > button{
    border-bottom-right-radius: 8px;
}

.queryButton > a:first-child > button{
    border-bottom-left-radius: 8px;
}

.querymenu a button{
    padding: 20px 30px;
    height: fit-content;
    transition: .2s cubic-bezier(0.2, 0.8, 0.25, 1);
    background-color: #335765;
}

.querymenu button:hover {
    background-color: #518094;
}

.querymenu > a:first-child > button{
    border-bottom-left-radius: 8px;
}

.querymenu > a:last-child > button{
    border-bottom-right-radius: 8px;
}


.avgQueryTable th{
    text-transform: capitalize;
}

.avgQueryTable tr td:nth-child(1){
    text-align: center;
    text-transform: uppercase;
}

.avgQueryTable tr:not(:last-child):hover {
    background-color: #A5D6A7;
}

.avgQueryTable tr:last-child td:not(:first-child),
.avgQueryTable tr:not(:first-child) td:last-child{
    color: #ff0000;
}

.subjectQueryTable tr td:first-child{
    text-align: center;
}
.subjectQueryTable th {
    text-transform: capitalize;
}

.subjectQueryTable th {
    width: fit-content;
}

.subjectQueryTable tr:nth-child(2),
.subjectQueryTable tr:nth-child(3),
.subjectQueryTable tr:nth-child(4){
    background-color: rgba(155, 255, 110, 0.5);
}

.subjectQueryTable tr:nth-last-child(1),
.subjectQueryTable tr:nth-last-child(2),
.subjectQueryTable tr:nth-last-child(3){
    background-color: rgba(255, 110, 110, 0.5);
}


@keyframes showAndHide {
    0% {
        opacity: 0;
        transform: translateY(-20px); /* fade in */
    }
    10% {
        opacity: 1;
        transform: translateY(0); /* visible */
    }
    90% {
        opacity: 1;
        transform: translateY(0); /* visible */
    }
    100% {
        opacity: 0;
        transform: translateY(-20px); /* fade out */
    }
}